@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FDF6E3;
    --foreground: #073642;
    --card: #FCF3E3;
    --card-foreground: #072442;
    --popover: #FCF3E3;
    --popover-foreground: #072442;
    --primary: #6C71C4;
    --primary-foreground: #F0F0F0;
    --secondary: #6BA7D1;
    --secondary-foreground: #F0F0F0;
    --muted: #839496;
    --muted-foreground: #EEE8D5;
    --accent: #26D1A9;
    --accent-foreground: #F0F0F0;
    --destructive: #DC322F;
    --destructive-foreground: #F0F0F0;
    --border: #073642;
    --input: #073642;
    --ring: #073642;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: #0E1012;
    --foreground: #FDF6E3;
    --card: #072442;
    --card-foreground: #FDF6E3;
    --popover: #072442;
    --popover-foreground: #FDF6E3;
    --primary: #6C71C4;
    --primary-foreground: #FDF6E3;
    --secondary: #6BA7D1;
    --secondary-foreground: #FDF6E3;
    --muted: #839496;
    --muted-foreground: #EEE8D5;
    --accent: #26D1A9;
    --accent-foreground: #F0F0F0;
    --destructive: #DC322F;
    --destructive-foreground: #F0F0F0;
    --border: #FDF6E3;
    --input: #FDF6E3;
    --ring: #FDF6E3;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Jetbrains Mono", system-ui, sans-serif;
  }
}